<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% static 'index.html' %}">
                <img src="{% static 'images/logo07.png' %}" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% static 'index.html' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% static 'about.html' %}">About Us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Course </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="{% static 'course-grid-2.html' %}">Course Grid 2 </a>
                            <a class="dropdown-item" href="{% static 'course-grid-3.html' %}">Course Grid 3 </a>
                            <a class="dropdown-item" href="{% static 'course-grid-4.html' %}">Course Grid 4 </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="{% static 'blog.html' %}">Blog </a>
                            <a class="dropdown-item" href="{% static 'blog-single.html' %}">Blog single </a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% static 'teachers.html' %}">Teachers</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% static 'pricing.html' %}">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% static 'contact.html' %}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hover-btn-new log orange" href="{% static '#' %}" data-toggle="modal" data-target="#login"><span>Book Now</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->


<!-- start header -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>About US</h3>
                    </div>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>   
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            <li><a href="{% static '#' %}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{% static '#' %}"><i class="fa fa-github"></i></a></li>
                            <li><a href="{% static '#' %}"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{% static '#' %}"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="{% static '#' %}"><i class="fa fa-pinterest"></i></a></li>
                        </ul><!-- end links -->
                    </div>						
                </div><!-- end clearfix -->
            </div><!-- end col--> 

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="{% static '#' %}">Home</a></li>
                        <li><a href="{% static '#' %}">Blog</a></li>
                        <li><a href="{% static '#' %}">Pricing</a></li>
                        <li><a href="{% static '#' %}">About</a></li>
                        <li><a href="{% static '#' %}">Contact</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col--> 
            
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="{% static 'mailto:#' %}">info@yoursite.com</a></li>
                        <li><a href="{% static '#' %}">www.yoursite.com</a></li>
                        <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                        <li>+61 3 8376 6284</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->