<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>About US</h3>
                    </div>
                    <p> Angel Coaching Classes</p> 
                    <p>office: "Angel House" Opp. Mangleshwar Mahadev,Ghodasar,Ahmedabad.</p>
                    <p>Resi: 57,Chandralog Socity, Near Cadila Lab,Ghodasar, Ahmedabad.</p>    
                    						
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="home">Home</a></li>
                        <li><a href="pricing">Pricing</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li>"Angel House" Opp. Mangleshwar Mahadev,Ghodasar,Ahmedabad.</li>
                        <li>9824067831</li>
                        <li>9664950538</li>

                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
