<html>
<body>
    <table border="1" width="100%">
        <tr>
            <td><h1>Angel Coaching Classes</h1></td>
        </tr>
        <tr>
            <td><a href="/">home</a>
                <a href="/about">about</a>
                <a href="/contact">contact</a>
            </td>
        </tr>
        <tr>
            <td>
                  {% block mycontant %}
                  {% endblock %}
                  {% block mycontant1 %}
                  {% endblock %}
            </td>    
        </tr>   
        <tr>
            <td>Website Developed by Zeel Rajput</td>    
        </tr>     
    </table>       
</body>
</html>